
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Match the path for user-specific files
    match /users/{userId}/{allPaths=**} {
      // Allow read, write, and delete operations only if the user is authenticated
      // and their UID matches the {userId} in the path.
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
